@import url(skeleton.css);
@import url(elements.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=DM+Sans:wght@300..600&display=swap);
:root {
  --font1: "Montserrat", system-ui, sans-serif;
  --font2: "DM Sans", system-ui, sans-serif;
  --space: 1.5rem;
  --radius: 0.7rem;
  --shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.205);
  --text: #000000;
  --background: #f0f0f0;
  --primary: #1aff94;
  --secondary: #e7c88e;
  --accent: #47b5f5;
  --green: #45d25a;
  --red: #dc3243;
  --yellow: #f3a60c;
  --blue: #2495ca;
  --dark: #0e0e0e;
  --light: #fefefe;
  --contrast: var(--light);
}
:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #0f0f0f;
  --primary: #00e67a;
  --secondary: #d8ff3d;
  --accent: #0a78b8;
  --green: #45d25a;
  --red: #dc3243;
  --yellow: #f2c94c;
  --blue: #2495ca;
  --dark: #080616;
  --light: #f1f2e9;
  --contrast: var(--dark);
}
