<div class="container">
  <h1>404<br />Pagina no disponible</h1>
  <h2>{Astro.url.pathname}</h2>
  <h3>Asegurate de escribir bien la url</h3>
  <br />
  <a href="/" class="btn" role="button">Volver al Incio</a>

  <br />
</div>

<style>
  body {
    font-family: "Montserrat", sans-serif;
  }
  .container {
    max-width: 90%;
    width: 1200px;
    margin: 10rem auto;
    text-align: center;
  }
  h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #2b3752;
    text-align: center;
    margin: 0;
  }

  .btn {
    background: #122625;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.625rem 1.5rem;
    border: 2px solid;
    font-family: "Work Sans", sans-serif;
    border-radius: 9999px;
    text-align: center;
    line-height: 22px;
    transition: all 0.2s ease-in-out;
  }

  .btn:hover {
    transform: scale(1.06);
  }
</style>
