---
import Layout from "../layouts/Layout.astro";
import Codex from "../components/Code.astro";
import InfoCard from "../components/InfoCard.astro";
import "../styles/cactus.css";
---

<Layout>
  <br />
  <h2 class="display-3 txt-center margin-top" id="hd">Encabezados</h2>
  <div class="container grid col-3 md-col-2 sm-col-1">
    <div>
      <h1>Encabezado H1</h1>
      <h2>Encabezado H2</h2>
      <h3>Encabezado H3</h3>
      <h4>Encabezado H4</h4>
      <h5>Encabezado H5</h5>
      <h6>Encabezado H6</h6>

      <h1 class="display-1">Display 1</h1>
      <h2 class="display-2">Display 2</h2>
      <h3 class="display-3">Display 3</h3>
    </div>
    <div class="span-2">
      <InfoCard
        title="Encabezados"
        body="Puedes utilizar cualquiera de los encabezados para asignar t칤tulos a tu sitio o tambi칠n puedes usar los display que son de mayor tama침o"
      />
      <div>
        <Codex
          html={`<h1>Encabezado H1</h1> 
<h2>Encabezado H2</h2>
<h3>Encabezado H3</h3>
<h4>Encabezado H4</h4>
<h5>Encabezado H5</h5>
<h6>Encabezado H6</h6>
<h1 class="display-1">Display 1</h1>
<h2 class="display-2">Display 2</h2>
<h3 class="display-3">Display 3</h3>`}
        />
      </div>
    </div>
  </div>
  <h2 class="display-3 txt-center margin-top" id="cont">Contenedores/Grid</h2>
  <div class="container">
    <InfoCard
      title="Grid y Contenedores"
      body="Puedes utilizar la clase container para contener tus elementos y centrarlos, tambi칠n puedes utilizar la clase grid para crear una grilla de elementos (ambas clases son compatibles). Las clases grid funcionan muy f치cil, solo usa col-# para definir el n칰mero de columnas que quieres que tenga t칰 grilla, usa md-col-# para definir el n칰mero de columnas en dispositivos medianos y sm-col-# para dispositivos peque침os. Por 칰ltimo, con span-# puedes definir el n칰mero de columnas que quieres que ocupe un elemento en espec칤fico."
    />
    <br />
    <section class="grid col-3 md-col-2 sm-col-1">
      <div class="card secondary">Card 1</div>
      <div class="card secondary">Card 2</div>
      <div class="card secondary">Card 3</div>
      <div class="card secondary">Card 4</div>
      <div class="card secondary span-2 md-span-2">Card 5 con span de 2</div>
    </section>

    <div>
      <Codex
        html={`<section class="container">
  <div class="grid col-3 md-col-2 sm-col-1">
    <div class="card secondary">Card 1</div>
    <div class="card secondary">Card 2</div>
    <div class="card secondary">Card 3</div>
    <div class="card secondary">Card 4</div>
    <div class="card secondary span-2 md-span-2">
      Card 5 con span de 2
    </div>
  </div>
 </section>`}
      />
    </div>
  </div>
  <h2 class="display-3 txt-center margin-top" id="cbc">
    Card, Botones y Colores
  </h2>
  <div class="container">
    <InfoCard
      title="Card, Botones y colores"
      body={`La clase card es simplemente un estilo que le puedes dar a cualquier div. La clase btn es para los botones, si quieres un color de fondo diferente usa cualquiera de estos {primary,secondary,accent,green,red,blue,yellow,black,white,outline}. 
      Si deseas cambiar el color de un texto puedes usar la clase txt- + el color {primary,secondary,accent,green,red,blue,yellow,black,white}.
      Si deseas cambiar el border de un elemento puedes usar la clase border- + el color {primary,secondary,accent,green,red,blue,yellow,black,white} o br-none si no quieres bordes.`}
    />
    <br />
    <div class="card br-blue txt-center">
      <h1 class="display-1 no-margin">Lorem ipsum dolor sit amet.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit itaque,
        placeat quis beatae, eligendi fuga expedita <span class="txt-blue"
          >modi</span
        > ducimus magni quasi eos dolorem numquam quae porro cupiditate doloribus
        blanditiis <span class="txt-secondary"> impedit</span>
        distinctio.
      </p>
      <div>
        <button class="btn txt-black">Principal</button>
        <button class="btn secondary">Secundario</button>
        <button class="btn accent txt-white">Accent</button>
        <button class="btn green"> Verde</button>
        <button class="btn red"> Rojo</button>
        <button class="btn blue txt-white"> Azul</button>
        <button class="btn yellow"> Amarillo</button>
        <button class="btn black"> Negro</button>
        <button class="btn white"> Blanco</button>
      </div>
    </div>

    <div>
      <Codex
        html={`<div class="card br-blue txt-center">
  <h1 class="display-1 no-margin">Lorem ipsum dolor sit amet.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit itaque,
    placeat quis beatae, eligendi fuga expedita <span class="txt-blue"
      >modi</span
    > ducimus magni quasi eos dolorem numquam quae porro cupiditate doloribus
    blanditiis <span class="txt-secondary"> impedit</span>
    distinctio.
  </p>
  <div>
    <button class="btn txt-black">Principal</button>
    <button class="btn secondary ">Secundario</button>
    <button class="btn accent txt-white">Accent</button>
    <button class="btn green"> Verde</button>
    <button class="btn red"> Rojo</button>
    <button class="btn blue txt-white"> Azul</button>
    <button class="btn yellow"> Amarillo</button>
    <button class="btn black"> Negro</button>
    <button class="btn white"> Blanco</button>
  </div>
</div>`}
      />
    </div>
    <section>
      <h3 class="display-3 txt-center margin-top" id="form">Texto</h3>
      <div>
        <div class="grid col-2">
          <div class="span-1 md-span-2">
            <InfoCard
              title="Alineacion de texto y colores"
              body="Para alinear el texto puedes usar las clases txt-center, txt-left, txt-right, txt-justify. Para cambiar el color del texto puedes usar las clases txt-el color {primary,green,red,blue,yellow,black,white} o font-color para usar el color del documento"
            />
          </div>
          <div class="card outline span-1 md-span-2">
            <p class="txt-center txt-green">texto verde centrado</p>
            <p class="txt-right txt-blue">texto azul derecha</p>
            <p class="txt-left txt-red">texto rojo izquierda</p>
            <p class="txt-justify txt-yellow">texto justificado amarillo</p>
            <p class="txt-justify font-color">
              texto justificado usando font-color
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <Codex
          html={`<p class="txt-center txt-green">texto verde centrado</p>
<p class="txt-right txt-blue">texto azul derecha</p>
<p class="txt-left txt-red">texto rojo izquierda</p>
<p class="txt-justify txt-yellow">texto justificado yellow</p>
<p class="txt-justify font-color">texto justificado usando font-color</p>`}
        />
      </div>
      <h2 class="display-3 txt-center margin-top" id="form">Formulario</h2>
      <div>
        <div class="grid col-2">
          <div class="span-1 md-span-2">
            <div>
              <InfoCard
                title="Formulario"
                body="Usa la clase input dentro de una etiqueta form para  darle estilo a tus los formularios"
              />
            </div>
          </div>
          <section class="card br-none black span-1 md-span-2">
            <h2 class="center">Reg칤strate</h2>
            <form action="">
              <input
                class="input br-white black"
                type="text"
                placeholder="Correo Electr칩nico"
              />
              <input
                class="input br-white black txt-white"
                type="password"
                placeholder="Contrase침a"
              />
              <button class="btn">Subscribe</button>
              <button class="btn green">Reg칤strate</button>
            </form>
          </section>
        </div>
        <div class="container">
          <Codex
            html={`<section class="card br-none black span-1 md-span-2">
  <h2 class="center">Reg칤strate</h2>
  <form action="">
    <input
      class="input br-white black"
      type="text"
      placeholder="Correo Electr칩nico"
    />
    <input
      class="input br-white black txt-white"
      type="password"
      placeholder="Contrase침a"
    />
    <button class="btn">Subscribe</button>
    <button class="btn green">Reg칤strate</button>
  </form>
</section>`}
          />
        </div>
      </div>
    </section>
    <section>
      <div>
        <h2 class="display-3 txt-center margin-top" id="alin">Flex</h2>
        <article>
          <div>
            <InfoCard
              title="Alineaci칩n con Flex"
              body="podemos alinear el contenido dentro de un div o una card usando las clases: flex/card seguido de left, right, center y right"
            />
            <br />
          </div>
          <div class="container">
            <div class="flex left"><button class="btn">Izquierda</button></div>
            <div class="flex center">
              <button class="btn">Centro</button>
            </div>
            <div class="flex right"><button class="btn">Derecha</button></div>
          </div>
          <div class="container">
            <Codex
              html={`<section class="container">
    <div class="flex left">
      <button class="btn">Izquierda</button>
    </div>
    <div class="flex center">
      <button class="btn">Centro</button>
    </div>
    <div class="flex right">
      <button class="btn">Derecha</button>
    </div>
  </section>`}
            />
          </div>
        </article>
        <article>
          <InfoCard
            title="Flex Direction"
            body="Por defecto la clase card y flex, usan display flex. El flex direction habitualmente es column. Sin embargo, puedes orientar a row o column, usando la clase f-row/f-col, seg칰n el caso"
          />
          <div class="container grid col-2 md-col-2 sm-col-1" style="">
            <div>
              <h3 class="txt-center">Direction Row:</h3>
              <div class="flex center f-row">
                <div><button class="btn secondary">1</button></div>
                <div><button class="btn secondary">2</button></div>
              </div>
            </div>
            <div>
              <h3 class="txt-center">Direction Column:</h3>
              <div class="flex center f-col">
                <div><button class="btn secondary">1</button></div>
                <div><button class="btn secondary">2</button></div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>
  <div>
    <section class="container">
      <h2 class="display-3 txt-center" id="tb">Tablas</h2>
      <section class="flex center">
        <table>
          <thead class="accent txt-white br-black">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
            </tr>
          </thead>
          <tbody class="br-black">
            <tr>
              <td>Carlos</td>
              <td>Alvarez</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Carlos</td>
              <td>Alvarez</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Carlos</td>
              <td>Alvarez</td>
              <td>25</td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="container">
        <Codex
          html={`<section class="flex center">
   <table>
     <thead class="accent txt-white br-black">
       <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Edad</th>
       </tr>
     </thead>
     <tbody class="br-black">
       <tr>
         <td>Carlos</td>
         <td>Alvarez</td>
         <td>25</td>
       </tr>
       <tr>
         <td>Carlos</td>
         <td>Alvarez</td>
         <td>25</td>
       </tr>
       <tr>
         <td>Carlos</td>
         <td>Alvarez</td>
         <td>25</td>
       </tr>
     </tbody>
   </table>
</section>`}
        />
      </div>
    </section>
  </div>
  <section class="section f-col">
    <div>
      <h2>Clase section</h2>
    </div>
    <div>
      <p class="container">
        La clase section permite tener un bloque flex que ocupe el todo el ancho
        de la pantalla. Es recomendable que si usaras esta clase agregues un
        <span class="txt-red">overflow-x:hidden</span> al <span
          class="txt-accent">Body</span
        >
      </p>
    </div>
    <div>
      <Codex
        html={`<section class="section f-col">
  <div>
    <h2>Clase section</h2>
  </div>
  <div>
    <p class="container">
      La clase section permite tener un bloque flex que ocupe el todo el ancho
      de la pantalla. Es recomendable que si usaras esta clase agregues un
      <span class="txt-red">overflow-x:hidden</span> al <span
        class="txt-accent">Body</span
      >
    </p>
  </div>
</section>`}
      />
    </div>
  </section>
  <div>
    <section class="container">
      <h2 class="txt-center">Extra</h2>
      <div class="grid col-2 md-col-2 sm-col-1 card secondary">
        <div class="txt-center" id="xtr">
          <h3>None</h3>
          <p>
            Al usar la clase none, desaparecer치 el bloque. Util para agregarla
            desde JS
          </p>
          <Codex html={`<div class="none"> Adios </div>`} />
          <div class="none">Adios</div>
        </div>
        <div class="txt-center">
          <h3>Hidden</h3>
          <p>
            Puedes usar la class="sm-hidden" para ocultar cosas en dispositivos
            peque침os
          </p>
          <p class="sm-hidden">游놑</p>
          <Codex html={`<p class="sm-hidden">游놑</p>`} />
        </div>
      </div>
    </section>
  </div>
</Layout>
