---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="container" style="margin-bottom: 5vw;">
      <div class="grid col-2 md-col-2 sm-col-1">
        <div>
          <h1 class="display-1" style="margin-top: 150px;">CACTUS CSS</h1>
          <div class="middle">
            <p>
              Cactus CSS es un marco CSS ligero, responsivo y personalizable que
              te ayuda a crear sitios web de forma rápida y sencilla. <b>
                ¡Pesa menos de 10 kb</b
              >, por lo que puedes diseñar tu sitio web, sin sacrificar el
              rendimiento!
            </p>
          </div>
          <a href="/start" class="btn green" type="button">Comenzar</a>
        </div>
        <div>
          <img
            src="/assets/mainCactus.svg"
            alt="Cactus-CanvaIA-Personaje"
            class="sm-hidden"
            width="100%"
          />
        </div>
      </div>
    </div>
  </main>
  <section>
    <div class="display-3 txt-center">Caracteristicas</div>
    <br />
    <div class="container">
      <div class="grid col-2 md-col-2 sm-col-1">
        <div>
          <img
            src="/assets/responsive.webp"
            alt="Blush-Responsive"
            class="sm-hidden"
            width="100%"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="txt-center">
          <h2 style="margin-top: 100px;">Diseño Responsivo</h2>
          <p>
            Cactus CSS está diseñado para ser receptivo, por lo que su sitio web
            se verá genial en cualquier dispositivo. Ya sea una computadora
            portátil, una tableta o un dispositivo móvil.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid col-2 md-col-2 sm-col-1">
        <div class="txt-center">
          <h2 style="margin-top: 100px;">Personalizable</h2>
          <p>
            Con Cactus CSS, puede personalizar fácilmente el aspecto de su sitio
            web con solo unos pocos clics. Cambie la combinación de colores, el
            tamaño de fuente, las sombras y más.
          </p>
        </div>
        <div>
          <img
            src="/assets/customImg.webp"
            alt="Blush-Custom"
            class="sm-hidden"
            width="100%"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid col-2 md-col-2 sm-col-1" style="margin:2px;">
        <div class="txt-center card br-none">
          <div class="center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="var(--font-color)"
              viewBox="0 0 256 256"
              ><path
                d="M221.28,34.75a64,64,0,0,0-90.49,0L60.69,104A15.9,15.9,0,0,0,56,115.31v73.38L26.34,218.34a8,8,0,0,0,11.32,11.32L67.32,200H140.7A15.92,15.92,0,0,0,152,195.32l0,0,69.23-70A64,64,0,0,0,221.28,34.75ZM142.07,46.06A48,48,0,0,1,211.79,112H155.33l34.35-34.34a8,8,0,0,0-11.32-11.32L120,124.69V67.87ZM72,115.35l32-31.67v57l-32,32ZM140.7,184H83.32l56-56h56.74Z"
              ></path>
            </svg>
          </div>
          <h3>Ligero y Rápido</h3>
          <p>
            Con un peso de menos de 10 kb, Cactus CSS es uno de los marcos más
            ligeros que existen. ¡Eso significa tiempos de carga más rápidos
            para sus visitantes y mejores clasificaciones de SEO para usted!
          </p>
        </div>
        <div class="txt-center card br-none">
          <div class="center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="var(--font-color)"
              viewBox="0 0 256 256"
              ><path
                d="M221.07,144.41A96.68,96.68,0,0,0,181,88h59a8,8,0,0,0,0-16H159a32,32,0,0,0-62,0H16a8,8,0,0,0,0,16H75a96.68,96.68,0,0,0-40.07,56.41A32,32,0,1,0,51.08,146,80.6,80.6,0,0,1,99,93.44a32,32,0,0,0,58.06,0A80.6,80.6,0,0,1,204.92,146a32,32,0,1,0,16.15-1.57ZM56,176a16,16,0,1,1-16-16A16,16,0,0,1,56,176Zm72-80a16,16,0,1,1,16-16A16,16,0,0,1,128,96Zm88,96a16,16,0,1,1,16-16A16,16,0,0,1,216,192Z"
              ></path>
            </svg>
          </div>
          <h3>Fácil de usar</h3>
          <p>
            Cactus CSS está diseñado para ser fácil de usar, incluso para
            principiantes. ¡Simplemente descargue las plantillas y comience a
            crear hermosos sitios web en muy poco tiempo!
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
