---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/Navbar.astro";
import Details from "../components/Examples/Details.astro";
import Popover from "../components/Examples/Popover.astro";
import Custom from "../components/Custom.astro";
import ShowCase from "../components/ShowCase.astro";
---

<Layout>
  <div class="bg">
    <NavBar />
    <main class="full-screen">
      <div class="flex f-col center middle pt mt">
        <span class="txt-center display-2">
          Cultiva Diseños Espectaculares
        </span>
      </div>
      <section class="grid col-3 md-col-3 sm-col-1 content center middle">
        <div class="flex center middle sm-none">
          <strong class="chip transparent br-primary txt-bold"
            >Personalizable</strong
          >
        </div>
        <div class="grid center middle">
          <figure class="grid center middle" style="width: 45vw">
            <img
              class="img aspect-box animation-img"
              src="assets/logos.png"
              alt="Imagen ilustrativa de un cactus hecho de cristal en 3D"
            />
          </figure>
        </div>
        <div class="flex center middle">
          <strong class="chip transparent br-primary txt-bold"
            >Ligero - 10kb</strong
          >
        </div>
      </section>
      <header class="flex center middle">
        <h1 class="txt-gradient display-1 focus-in-expand">CACTUS CSS</h1>
        <span class="pt pl txt-bold txt-sm">V4.0.0</span>
      </header>
      <div class="flex center">
        <a
          href="/current/"
          class="btn transparent br-primary fade-in-bck"
          target="_blank"
          rel="noopener noreferrer">Empezar</a
        >
      </div>
    </main>
    <section class="content scrollShow">
      <div
        class="grid col-6 md-col-4 sm-col-1 mb pb"
        style="max-width: 1090px; margin:auto; "
      >
        <article
          class="card contrast center middle md-span-2 sm-span-1 sm-none"
        >
          <div>
            <button class="btn gradient txt-contrast br-none jello-horizontal"
              >HolaCactus</button
            >
          </div>
        </article>
        <article class="card contrast content middle span-2 sm-span-1">
          <div class="input">
            <label for="email">Correo Electrónico</label>
            <input
              class="br-primary"
              type="text"
              id="text"
              placeholder="example@mail.com"
            />
          </div>
        </article>
        <article class="card content span-3 md-span-2 sm-span-1">
          <h2>Crea más, preocúpate menos.</h2>
        </article>
        <article
          class="card contrast content span-3 md-span-2 sm-span-1 middle center"
        >
          <div class="jello-horizontal">
            <Details />
          </div>
        </article>
        <article class="card contrast content middle center sm-span-1">
          <div class="jello-horizontal"><Popover /></div>
        </article>
        <article
          class="card contrast content span-2 md-span-3 middle center sm-span-1"
        >
          <div>
            <img
              src="https://images.pexels.com/photos/409813/pexels-photo-409813.jpeg?auto=compress&cs=tinysrgb&w=300"
              alt="imagen de un cactus"
              class="aspect-large radius"
            />
          </div>
        </article>
      </div>
    </section>
  </div>
  <div class="bg">
    <section class="container">
      <aside class="br-accent radius content flex between middle scrollShow">
        <header>
          <h2>Disponible en :</h2>
        </header>
        <div>
          <article class="content">
            <img
              src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3220593/npm-icon-sm.png"
              alt="Npm logo"
              width="100px"
              class="filterImg"
            />
          </article>
        </div>
        <article class="content">
          <img
            src="https://www.jsdelivr.com/assets/8aab44d2735c604d59887d32cc74b517689e5d5c/img/jsDelivr.logo.svg"
            alt="CDN Logo"
            class="filterImg"
            width="120px"
          />
        </article>
        <article class="txt-dark content txt-bold">
          <img
            src="https://cdn4.iconfinder.com/data/icons/folders-69/64/zip_folder-512.png"
            alt="zip file icon"
            class="filterImg"
            width="100px"
          />
        </article>
      </aside>
      <section>
        <header class="pt">
          <h2 class="txt-center display-3">¿Porqué Cactus CSS?</h2>
        </header>
        <div
          class="grid col-2 md-col-2 sm-col-1 content gap-bg f-wrap center middle scrollShow"
        >
          <article class="card f-col content primary txt-dark pr">
            <h3>Responsivo</h3>
            <p>
              Cactus CSS está diseñado para ser <strong> responsivo</strong>,
              por lo que su sitio web se verá genial en cualquier dispositivo.
              Ya sea una computadora portátil, una tableta o un dispositivo
              móvil.
            </p>
          </article>
          <article class="card f-col content gradient txt-dark">
            <h3>Ligero y Sencillo</h3>
            <p>
              Con un <strong>peso de 10 kb</strong> y <strong
                >2.6kb!! gzipped + min</strong
              >, Cactus CSS es uno de los marcos más ligeros que existen. ¡Eso
              significa tiempos de carga más rápidos para sus visitantes y
              mejores clasificaciones de SEO para usted!
            </p>
          </article>
        </div>
      </section>
    </section>
    <section class="container">
      <article class="grid col-2 sm-col-1 content">
        <header class="middle">
          <h2 class="display-3">Personalizable</h2>
          <p>
            Establecer el estilo con más identidad y personalidad, es posible de
            forma fácil y rápida.
          </p>
          <div class="flex">
            <a
              class="chip secondary br-none txt-dark"
              href="current/03-personalizar/"
              target="_blank">Míralo en la documentación</a
            >
          </div>
        </header>
        <Custom />
      </article>
      <br />
      <div class="showCase pt">
        <ShowCase />
      </div>
      <br />
    </section>
  </div>
</Layout>

<style>
  main {
    padding-top: 2.8rem;
  }

  html[data-theme="dark"] .filterImg {
    filter: invert();
  }

  .showCase {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }

  .jello-horizontal {
    -webkit-animation: jello-horizontal 1s both;
    animation: jello-horizontal 1s both;
  }

  .focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .fade-in-bck {
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .animation-img {
    -webkit-animation: slide-top 4s ease-in-out infinite alternate-reverse both;
    animation: slide-top 4s ease-in-out infinite alternate-reverse both;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }

  .scrollShow {
    view-timeline-name: --element;
    view-timeline-axis: block;
    animation-timeline: --element;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
      transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
      transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }

  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
</style>
