---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro/components";
---

<Layout>
  <main>
    <div class="container">
      <h1 class="display-1">CACTUS CSS</h1>
      <h2 class="display-3">PLANTILLA CSS CON DISEÑO RESPONSIVO</h2>
      <p>
        Plantilla de CSS sencilla útil para darle un estilo a tus páginas web O
        simplemente, puedes usarla para guiarte en tus diseños. <br /> No es necesario
        alguna atribución y su uso es libre. Visita <b>'Componentes'</b> para ver
        lo que contiene de una forma visual.
      </p>
    </div>

    <div class="container">
      <h2>Uso 🦾</h2>
      <p>
        Para el correcto comportamiento es importante que tengas las siguientes
        etiquetas en tu etiqueta <b>head</b> de tu html.
      </p>
      <Code
        code={` 
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		`}
        lang="html"
        theme="dracula"
      />
      <div
        class="card grid col-2 span-2 sm-col-1"
        style="color: #fff; background-color: #2b3752"
      >
        <div>
          <div class="title">Descargar el archivo css</div>
          <div class="body">
            Puedes descargar el archivo css e importarlo en tu documento html.
          </div>
        </div>
        <div>
          <a
            href="./assets/css/cactus.css"
            download="cactus.css"
            class="btn"
            type="button">Descargar ⬇️</a
          >
        </div>
      </div>
      <div
        class="card grid col-2 span-2 sm-col-1"
        style="color: #2b3752; background-color:#fff"
      >
        <div>
          <div class="title">Copiar partes del codigo</div>
          <div class="body">
            Puedes copiar partes del codigo css e incrustarlas en tu css. En Componentes puedes
            ver el codigo por partes como <b>componentes</b>
          </div>
        </div>
        <div>
          <a href="/Componentes" class="btn" type="button">Componentes</a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .container {
    max-width: 90%;
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
  }

  .display-3 {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
  }

  .display-1 {
    font-weight: 700;
    font-size: 54px;
    font-style: bold;
    text-align: center;
  }
  .container h2 {
    font-size: 34px;
  }

  p {
    font-size: 20px;
    text-align: justify;
  }

  code {
    display: block;
    background-color: #2f343d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3%;
  }
  .card {
    padding: 40px;
    border-radius: 3px;

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    border: 3px solid #2b3752;
  }
  .title {
    font-family: "Quicksand", sans-serif;
    margin-top: 0;

    font-size: 25px;
    margin-bottom: 3%;
    font-weight: bold;
  }
  .body {
    font-family: "Open Sans", sans-serif;

    margin-top: 5px;
  }
  .grid {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
  }
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .span-2 {
    grid-column: span 2;
  }
  .btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    transition: 0.3s ease all;
    background: #86ee60;
    color: #2b3752;
    font-family: "Open Sans", sans-serif;
    margin-top: 1vh;
    margin-left: 20vw;
  }
  .btn:hover {
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
    transform: translateX(-3px);
  }

  /* Moviles*/
  @media screen and (max-width: 576px) {
    .sm-col-1 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
