---
export interface Props {
  html: string;
  css: string;
}

const { html, css } = Astro.props;
import { Code } from "astro/components";
---

<div >
  <div>
    <br />
    <p>HTML📎</p>
    <Code code={`${html}`} lang="html" theme="dracula" />
    <p>CSS🪄</p>
    <Code code={`${css}`} lang="css" theme="dracula-soft" />
  </div>
</div>

<style>
  div {
    margin: 0;
    width: 100%;
  }
</style>
