---
export interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="card primary txt-black">
  <h2>{title}🌵</h2>
  <p class="txt-justify">
    {body}
  </p>
</div>
