<header class="header">
  <a class="logo" href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="var(--primary)"
      style="margin-right: 10px;"
      viewBox="0 0 256 256"
      ><path
        d="M216,208H168V184h4a68.07,68.07,0,0,0,68-68,28,28,0,0,0-56,0,12,12,0,0,1-12,12h-4V56a40,40,0,0,0-80,0V88H84A12,12,0,0,1,72,76a28,28,0,0,0-56,0,68.07,68.07,0,0,0,68,68h4v64H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16ZM96,128H84A52.06,52.06,0,0,1,32,76a12,12,0,0,1,24,0,28,28,0,0,0,28,28H96a8,8,0,0,0,8-8V56a24,24,0,0,1,48,0v80a8,8,0,0,0,8,8h12a28,28,0,0,0,28-28,12,12,0,0,1,24,0,52.06,52.06,0,0,1-52,52H160a8,8,0,0,0-8,8v32H104V136A8,8,0,0,0,96,128Z"
      ></path>
    </svg> Cactus CSS</a
  >
  <i class="bx bx-menu" id="menu-icon"></i>
  <nav class="navbar">
    <a href="/current/">Documentación</a>
    <a href="/current/03-personalizar/">Personalizar</a>
    <a href="/current/02-instalar/">Instalación</a>
    <div class="nav-item">
      <div class="toggle-btn" id="light-mode-toggle">
        <label title="Use light theme" aria-label="Use dark theme">
          <input type="checkbox" name="light-mode-toggle" />
          <span></span>
        </label>
      </div>
    </div>
  </nav>
</header>
<div class="nav-bg"></div>
<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    font-weight: bold;
    background: rgba(15, 77, 46, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
  }
  .header:hover::before {
    left: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    color: var(--txt);
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .logo:hover {
    color: var(--primary);
  }
  .navbar a {
    color: var(--txt);
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
  }
  .navbar a:hover {
    color: var(--primary);
  }
  #menu-icon {
    font-size: 36px;
    color: var(--txt);
    display: none;
  }
  /* BREAKPOINTS */
  @media (max-width: 992px) {
    .header {
      padding: 1.25rem 4%;
    }
  }
  @media (max-width: 768px) {
    #menu-icon {
      display: block;
    }
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0.5rem 4%;
      display: none;
    }
    .navbar.active {
      display: block;
    }
    .navbar a {
      display: block;
      margin: 1.5rem 0;
    }
    .nav-bg {
      position: fixed;
      top: 79px;
      left: 0;
      width: 100%;
      height: 295px;
      color: var(--contrast);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(15px);
      z-index: 99;
      display: none;
    }
    .nav-bg.active {
      display: block;
    }
  }

  /* Toggle Dark Mode */
  /* The switch - the box around the slider */
  .toggle-btn {
    position: relative;
    width: 45px;
    height: 24px;
    margin-top: 1px;
    margin-left: 15px;
    border-radius: 40px;
  }

  input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  /* light-mode-toggle btn */

  #light-mode-toggle span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 2px 25px #d9d9d9;
    border-radius: 40px;
    transition:
      0.2s ease background-color,
      0.2s ease opacity;
  }

  #light-mode-toggle span:before,
  #light-mode-toggle span:after {
    content: "";
    position: absolute;
    top: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition:
      0.5s ease transform,
      0.2s ease background-color;
  }

  #light-mode-toggle span:before {
    background-color: #fff;
    transform: translate(-28px, 0px);
    z-index: 1;
  }

  #light-mode-toggle span:after {
    background-color: #000;
    transform: translate(3px, 0px);
    z-index: 0;
  }

  #light-mode-toggle input[type="checkbox"]:checked + span {
    background-color: #000;
  }

  #light-mode-toggle input[type="checkbox"]:active + span {
    opacity: 0.5;
  }

  #light-mode-toggle input[type="checkbox"]:checked + span:before {
    background-color: #000;
    transform: translate(16px, -1px);
  }

  #light-mode-toggle input[type="checkbox"]:checked + span:after {
    background-color: #fff;
    transform: translate(23px, 0px);
  }
</style>

<script>
  /* Responsive Menu */
  const menuIcon = document.querySelector("#menu-icon");
  const navbar = document.querySelector(".navbar");
  const navbg = document.querySelector(".nav-bg");
  menuIcon.addEventListener("click", () => {
    menuIcon.classList.toggle("bx-x");
    navbar.classList.toggle("active");
    navbg.classList.toggle("active");
  });
</script>

<script is:inline>
  // creamos una constante para el checkbox
  const toggle = document.getElementById("light-mode-toggle");

  // creamos un evento para el checkbox
  toggle.addEventListener("change", (e) => {
    // si el checkbox esta desactivado
    if (e.target.checked == false) {
      // guardamos en el localStorage que el modo oscuro esta desactivado
      localStorage.setItem("dark", "false");
      // removemos el atributo data-theme
      document.documentElement.removeAttribute("data-theme");
    } else {
      // si el checkbox esta activado guardamos en el localStorage que el modo oscuro esta activado
      localStorage.setItem("dark", "true");
      // agregamos el atributo data-theme con el valor "dark"
      document.documentElement.setAttribute("data-theme", "dark");
    }
  });

  // comprobamos si el modo oscuro esta activado
  if (localStorage.getItem("dark") === "true") {
    // si esta activado activamos el checkbox
    toggle.querySelector("input").checked = true;
    // agregamos el atributo data-theme con el valor "dark"
    document.documentElement.setAttribute("data-theme", "dark");
  }
</script>
