<details class="radius br-yellow px">
  <summary class="txt-yellow">Ver más información</summary>
  <div class="content">
    <h3>Genial</h3>
    <img class="img radius" src="https://images.pexels.com/photos/1367219/pexels-photo-1367219.jpeg?auto=compress&cs=tinysrgb&w=400&h400&dpr=1" alt="Foto de un cactus" />
  </div>
</details>
