<button
  class="chip br-primary"
  popovertarget="message"
  popovertargetaction="toggle">Mostrar</button
>

<div id="message" popover class="radius px br-none contrast">
  <p class="txt-blue">
    <strong class="txt-gradient">Hola!</strong> Desde el popover
  </p>
</div>
