---
import Footer from "../components/Footer.astro";
import "../styles/cactus4.css";
/* const canonicalURL = new URL(Astro.url.pathname, Astro.site); */

const image = "./assets/mainCactus.png";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/logo-dk.svg" />
    <meta name="title" content="Cactus Css" />
    <meta
      name="description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <meta name="copyright" content="JOSE ARJONA" />
    <meta name="author" content="JOSE ARJONA" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="css, framework, cactus, cactus css" />
    <meta name="language" content="Spanish" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cactus-css.vercel.app/" />
    <meta property="og:title" content="Cactus Css" />
    <meta
      property="og:description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <meta property="og:image" content="/cact4.png" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://cactus-css.vercel.app/" />
    <meta property="twitter:title" content="Cactus Css" />
    <meta
      property="twitter:description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <meta property="twitter:image" content="/cact4.png" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- 
		<link rel="canonical" href={canonicalURL} /> -->
    <title>Cactus Css</title>
  </head>
  <body style="overflow-x:hidden">
    <slot />
    <footer><Footer /></footer>
  </body>
</html>

<style is:global>
  .bg {
    --color: #1aa14e11;
    background-color: var(--background);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }
  html[data-theme="dark"] .bg {
    background-image: url("https://res.cloudinary.com/dkgi65fwg/image/upload/v1714013816/cactus-css/assets/qcxxwo46n3wmbxweqcv8.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*   mask-image: linear-gradient(black 80%, transparent); */
  }
</style>
