---
import Footer from "../components/Footer.astro";
import "../styles/cactus4.css";
/* const canonicalURL = new URL(Astro.url.pathname, Astro.site); */

const image = "./assets/mainCactus.png";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/logo-dk.svg" />
    <meta name="title" content="Cactus Css" />
    <meta
      name="description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <meta name="copyright" content="JOSE ARJONA" />
    <meta name="author" content="JOSE ARJONA" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="css, framework, cactus, cactus css" />
    <meta name="language" content="Spanish" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cactus-css.vercel.app/" />
    <meta property="og:title" content="Cactus Css" />
    <meta
      property="og:description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <meta
      property="og:image"
      content="https://cactus-css.vercel.app/assets/mainCactus.png"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://cactus-css.vercel.app/" />
    <meta property="twitter:title" content="Cactus Css" />
    <meta
      property="twitter:description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <meta
      property="twitter:image"
      content="https://cactus-css.vercel.app/assets/mainCactus.png"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- 
		<link rel="canonical" href={canonicalURL} /> -->
    <title>Cactus Css</title>
  </head>
  <body style="overflow-x:hidden">
    <slot />
    <footer><Footer /></footer>
  </body>
</html>
