---
import NavBar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/cactus.css";
/* const canonicalURL = new URL(Astro.url.pathname, Astro.site); */
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/logo-dk.svg" />
    <meta name="title" content="Cactus Css" />
    <meta name="copyright" content="JOSE ARJONA" />
    <meta
      name="description"
      content="Cactus CSS es un marco CSS ligero, responsivo y personalizable. ¡Pesa menos de 10 kb!"
    />
    <!-- 
		<link rel="canonical" href={canonicalURL} /> -->
    <title>Cactus Css</title>
  </head>
  <body>
    <header><NavBar /></header>
    <slot />
    <footer><Footer /></footer>
  </body>
</html>
